* {
	margin: 0;
	padding: 0;
}

body {
	overflow-x: hidden;
	font-family: sans-serif
}

.intro {
	margin-top: 1rem;
	margin-bottom: 2rem;
	cursor: pointer;
}

.main {
	border: 2px solid black;
	border-radius: 10px;
	width: 85vw;
	height: 75vh;
	text-align: center;
}

.url__input {
	width: calc(75 / 100 * 85vw);
	outline: none;
	margin: 10rem 0 1rem 0;
	padding: 0.5rem;
	border: 2px solid black;
	border-radius: 10px;
}

.shorten__button {
	padding: 1rem;
	background-color: white;
	border: 2px solid black;
	border-radius: 10px;
	cursor: pointer;
	transition: 400ms;
}

.shorten__button:hover {
	background-color: black;
	color: white;
}

.shortened__url {
	margin-top: 2rem;
	font-weight: bold;
}

.footer {
	width: 100%;
	padding: 1rem;
	position: absolute;
	bottom: 0;
	border-top: 2px solid black;
	text-align: center;
}